@model TestData
@{
}

<div class="card shadow border-0">
	<div class="card-header bg-primary d-flex justify-content-between">
		<div class="text-center text-white">Детали</div>
		<button type="button" onclick="closeDetail()" class="close">
			<i class="bi bi-x text-white"></i>
		</button>
	</div>

	<form id="editForm" asp-action="EditTestData" asp-anti-forgery="true">
		<div id="result" class="card-body">
			<h5 class="card-title">@Model.Test.Title (@Model.Test.TestType.Caption) </h5>
				
			<div class="form-group">
				<label class="m-0 p-0" asp-for="Option">Ткань, локализация</label>
				<input type="text" class="form-control" asp-for="Option" placeholder="локализация">
			</div>

			<div class="form-group">
				<label class="m-0 p-0" asp-for="Status">Статус заявки</label>
				<select class="form-control custom-select" asp-for="Status" asp-items="Html.GetEnumSelectList<ProcedureStatus>()"></select>
			</div>

			<div class="form-group">
				<label class="m-0 p-0" asp-for="DateResult">Дата исполнения заявки</label>
				<input type="date" class="form-control" asp-for="DateResult" placeholder="дата исполнения">
			</div>

			<div class="form-group">
				<label class="m-0 p-0" asp-for="Value">Результат</label>
				<input type="text" class="form-control" asp-for="Value" placeholder="значение">
			</div>
		</div>    
		<div class="card-footer d-flex justify-content-end p-1">
			<div hidden="hidden">
			  @Html.EditorForModel()
			  @Html.EditorFor(model => model.Test)
			  @Html.EditorFor(model => model.Test.TestType)
			  @Html.EditorFor(model => model.StaffResult)
			</div>	
			<input id="btnsubmit" type="submit" class="btn btn-link" value="Сохранить"/>
		</div>
	</form>
</div>