@model IEnumerable<TestData>;
@{
	ViewData["Title"] = "Тесты и процедуры";
	Layout = "_Navbar";
}

<div class="validation" asp-validation-summary="All"></div>

<div class="d-flex flex-wrap" style="gap:10px;">
    <div class="flex-fill table-responsive rounded-response shadow">
		<table class="table table-hover mb-0">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>Вид диагностики</th>
					<th>Вид теста</th>
					<th class="col-sm-none">Показатель теста</th>
					<th>Статус заявки</th>
				</tr>
			</thead>
			<tbody>
				@foreach(TestData data in Model)
				{
					<tr onclick="getDetailContent(@data.Id, false)" style="cursor:pointer">
						<th scope="row">@data.Id</th>
						<td>@data.Test.TestType.Title</td>
						<td class="col-sm-overflow">@data.Test.Title</td>
						@if (!string.IsNullOrEmpty(@data.Value))
						{
							<td class="col-sm-none">@data.Value @data.Test.Measure</td>
						}
						else
						{
							<td class="col-sm-none">-</td>
						}
						<td class="col-sm-overflow">@data.Status</td>
					</tr>
				}
			</tbody>
		</table>
    </div>

	<div class="flex-fill" style="display:none;" id="partialPlaceholder"/>
</div>  

<script>
    function getDetailContent(testDataId) {
        $.ajax({
            url: '@Url.Action("Details")',
            data: {
				__RequestVerificationToken: getToken(),
				testId: testDataId,
				},
            type: "POST",
            success: function(data) {
                $('#partialPlaceholder').html(data);
				$('#partialPlaceholder').show();
            }
        });
    }

	function closeDetail() {
		$('#partialPlaceholder').hide();
	}
</script>