@model IEnumerable<Entry>
@{
	Staff curStaff;
	if (Model.Count() != 0) curStaff = Model.FirstOrDefault().DoctorDestination;
	else curStaff = new Staff { FirstName = "Ничего не найдено", MidName = "", LastName = "" };
}

<div class="table-responsive rounded shadow">
	
	<div class="bg-dark text-white m-0 p-0">
		<h5 class="border-bottom border-secondary m-0 mx-3 py-2">@curStaff.FirstName @curStaff.MidName @curStaff.LastName</h5> 

		<div class="d-flex flex-wrap justify-content-between m-0 mx-3 py-2" style="column-gap:10px;"> 
			@if (curStaff.Department != null)
			{
				<div>
					@curStaff.Qualification Врач-диетолол высшей категории
				</div>
				<div>
					@curStaff.Department.Title.Title,
					@curStaff.Department.Adress.Street @curStaff.Department.Adress.Number,
					кабинет: <span class="font-weight-bold">@curStaff.Cabinet</span> 
				</div>
			}
			else
			{
				<div>
					Записи отсутствуют,	попробуйте выбрать другую дату
				</div>
			}
		</div>

		<div class="bg-light d-flex justify-content-between text-dark">
			<button type="button" onclick="getEntries(@ViewBag.CurrentDoctorId, '@ViewBag.CurrentDate.AddDays(-1.0).ToShortDateString()')" class="btn d-flex rounded-0 align-items-center btn-light p-0"> 
				<i class="bi bi-chevron-left px-2" style="font-size: 1.3rem"></i>
				<span class="pr-3">назад</span>
			</button>
			<div class="p-2 font-weight-bold">
				@ViewBag.CurrentDate.ToString("d MMMM, ddd")
			</div>
			<button type="button" onclick="getEntries(@ViewBag.CurrentDoctorId, '@ViewBag.CurrentDate.AddDays(1.0).ToShortDateString()')" class="btn rounded-0 d-flex align-items-center btn-light p-0">
				<span class="pl-3">вперед</span>
				<i class="bi bi-chevron-right px-2" style="font-size: 1.3rem"></i>
			</button>
		</div>
	</div>

	<table class="table table-hover m-0">
		<tbody>
			@foreach(Entry entry in Model)
			{
				if (entry.EntryStatus == EntryStatus.Открыта)
				{
					<tr class="border-success pointer text-center" onclick="showModal('@entry.TargetDateTime.ToString("yyyy-MM-ddTHH:mm:ss")')" style="border-right: 5px solid;">
						<td style="font-size:1.3rem">@entry.TargetDateTime.ToShortTimeString()</td>
						<td class="align-middle">запись открыта</td>
					</tr>
				}
				else
				{
					<tr class="bg-light text-black-50  border-warning text-center" style="border-right: 5px solid;">
						<td style="font-size:1.3rem">@entry.TargetDateTime.ToShortTimeString()</td>
						<td class="align-middle">запись недоступна</td>
					</tr>
				}
			}
		</tbody>
	</table>

	<!-- Modal -->
	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModal3Label">@User.FindFirst("shortName")?.Value (@User.FindFirst("phoneNumber")?.Value)</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalBody">

					@if(curStaff.Department != null)
					{
						<div>
							<h5>@curStaff.FirstName @curStaff.MidName @curStaff.LastName</h5>
							<ul>
								<li>Отделение: @curStaff.Department.Title.Title</li>
								<li>Адрес: @curStaff.Department.Adress.City, @curStaff.Department.Adress.Street @curStaff.Department.Adress.Number</li>
								<li>Кабинет: @curStaff.Cabinet</li>
							</ul>
							<hr/>
							<div class="text-center">
								<span style="font-size:1.5rem" id="date"></span> <br />
								<span style="font-size:2rem" id="time"></span>
							</div>
						</div>
					}
					else
					{
						<div>
							записи не найдены
						</div>	
					}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="confirmEntry(@curStaff.Id)">Save changes</button>
				</div>
			</div>
		</div>
	</div>

</div>


<script>

	var currentDateTime;
	
	function showModal(dateTime){

		currentDateTime = new Date(dateTime);
		alert(currentDateTime);

		$("#date").html(currentDateTime.toLocaleDateString("ru-RU", {day: 'numeric'} ));
		$("#time").html(currentDateTime.toLocaleTimeString());
		$("#confirmModal").modal('show');
	}

	function confirmEntry(doctorId){

		alert(currentDate);

		$.ajax({
			url: '@Url.Action("ConfirmEntry", "Appointment")',
			type: "post",
			dataType: "html",
			cache: false,
			data: {
				__RequestVerificationToken: getToken(),
				doctorId : doctorId,
				dateTime : currentDateTime
			},
			success: function (result) {
				$("#modalBody").html(result);
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				alert(errorThrown);
			}
		});
	}
</script>
