@model IEnumerable<Patient>
@{
	
}
<style>
    .table td{
        vertical-align:inherit;
    }
</style>


<div class="card p-0 border-0 shadow" style="max-width:40rem; flex:1 1 auto;">

    <div class="card-header bg-secondary text-white text-center border-0">
        Демо-аккаунты 
    </div>

    <div class="card-body p-0">

        <table class="table m-0">
            <tbody>
                @foreach (Patient patient in Model)
                {
                    <tr>
                        <td scope="row">
                            <span class="font-weight-bold">@patient.Id</span>
                        </td>
                        <td>
                            @patient.GetLongName()
                        </td>
                        <td>
                            @patient.PhoneNumber
                        </td>
                        <td>
                            <form asp-action="LoginDemo" asp-controller="Account" asp-anti-forgery="true">

                                <input asp-for="@patient.FirstName" hidden value="@patient.FirstName"/>
        		                <input asp-for="@patient.MidName" hidden value="@patient.MidName"/>
                                <input asp-for="@patient.PhoneNumber" hidden value="@patient.PhoneNumber"/>
                                <input asp-for="@patient.Id" hidden value="@patient.Id"/>
                                <input type="submit" class="btn btn-link" value="Вход"/> 
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

